name:CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
changes:
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: | 
            backend:
              - 'smart-shopping-app-backend/**'
            frontend:
              - 'src/**'
              - 'public/**'
              - 'package.json'
              - 'vite.config.js'
              - '_mocks_/**'
              - '_tests_/**'

  backend:
    runs-on: ubuntu-latest
    needs: changes
    defaults:
      run:
        working-directory: smart-shopping-app-backend
    if: needs.changes.outputs.backend == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build Backend
        run: ./mvnw clean install
      - name: Run Backend Tests
        run: ./mvnw test
      # (In progress) Deploy backend here

  frontend:
    runs-on: ubuntu-latest
    needs: changes
    defaults:
      run:
        working-directory: .
    if: needs.changes.outputs.frontend == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm ci
      - name: Build Frontend
        run: npm run build
      - name: Run Frontend Tests
        run: npm test
      # (In progress) Deploy frontend here
